# Crypto currency

In [1]:
# SQL net balance
'https://dbfiddle.uk/6ZkdPaAk'
# SELECT t.user, SUM(t.net_amount) AS net_balance
# FROM (
#     SELECT receiver AS user, amount AS net_amount FROM bitcoin_transactions
#     UNION ALL
#     SELECT sender AS user, -amount AS net_amount FROM bitcoin_transactions
# ) AS t
# GROUP BY t.user
# Order BY net_balance desc;

'https://dbfiddle.uk/6ZkdPaAk'

In [2]:
# SQL currency exchange with processed fee
'https://dbfiddle.uk/vSuSMVpV'
# SELECT 
#     c.*,
#     t.amount AS original_amount,
#     (t.amount * c.exchange_rate) - c.processed_fee AS net_amount
# FROM 
#     currency_exchange as c
# join transactions as t
#   on c.from_currency = t.from_currency and c.exchange_id = t.transaction_id
#   order by exchange_id;

'https://dbfiddle.uk/vSuSMVpV'

In [3]:
# SQL order sum running total partition by customer_id
'https://dbfiddle.uk/XoojiXtw'
# SELECT
#     customer_id,
#     order_date,
#     order_amount,
#     sum(order_amount) over 
#     (partition by customer_id order by customer_id, order_date, order_amount) as total
# FROM
#     sales

'https://dbfiddle.uk/XoojiXtw'

In [4]:
# SQL order sum partition by customer
'https://dbfiddle.uk/uxkcNK_c'
# SELECT
#     distinct(customer_id),
#     sum(order_amount) over (partition by customer_id)
# FROM
#     sales
# where date_part('month', sales.order_date) = 7
# order by customer_id

'https://dbfiddle.uk/uxkcNK_c'

# Transaction

In [5]:
# transactions table for a single year with the amount indicating the debit transaction if the value is negative or credit transaction values are positive. 
# Now in a given month if the number of debit records is less than 3 or if the sum of debits for a month is less than 100 then 
# I want to charge a fee of 5.

In [6]:
'https://dbfiddle.uk/_z3_PuGh'

# SELECT DISTINCT SUM(
#          COALESCE(SUM(t.Amount), 0) -
#          CASE 
#            WHEN SUM((t.Amount < 0)::int) < 3 
#              OR SUM(CASE WHEN t.Amount < 0 THEN -t.Amount ELSE 0 END) < 100 THEN 5 
#            ELSE 0  
#          END
#        ) OVER () total
# FROM generate_series(1, 12, 1) m(month) LEFT JOIN transactions t 
# ON m.month = date_part('month', t.date) AND date_part('year', t.date) = 2020
# GROUP BY m.month

'https://dbfiddle.uk/_z3_PuGh'

In [7]:
'https://dbfiddle.uk/OuTlQH9m'
# select distinct sum(
#   coalesce(sum(t.amount), 0) - 
#   case when count(t.amount < 0)::int < 3 or
#   sum(case when t.amount < 0 then -t.amount else 0 end) < 100 then 5 
#   else 0
#   end
# ) over () total
# from generate_series(1, 12, 1) as m(month) left join transactions as t
# on m.month = date_part('month', t.date) and date_part('year', t.date) = 2020
# group by m.month

'https://dbfiddle.uk/OuTlQH9m'

# Extension: Sum for each month of transactions

In [9]:
'https://dbfiddle.uk/WPSGQcEh'

# WITH cte AS (
#    SELECT date_trunc('month', date) AS mon, sum(amount) AS mon_sum
#    FROM   transactions
#    GROUP  BY 1
#    )
# SELECT to_char(mon, 'Mon YYYY') AS mon_text
#      , COALESCE(sum(c.mon_sum) OVER (PARTITION BY mon ORDER BY mon), 0) AS sum_permonth
# FROM   generate_series('2020-01-01'::date, '2020-12-31', interval '1 month') mon
# LEFT   JOIN cte c USING (mon)
# ORDER  BY mon;

'https://dbfiddle.uk/WPSGQcEh'